/* === COMMENTS INDEX === */
div#c-comments div#a-index div.post,
div#c-comments div#a-show div.post {                            // Straighten out and align comments in the list
    margin-bottom: 1em;
    @include themable {
        background-color: rgba( themed("color-section"), 0.7);
    }
}
div.comments-for-post div.list-of-comments article.comment {
    box-shadow: none;
    @include themable($data_map: $theme_look_index) { border-radius: themed("border-radius-half"); }
}

div#c-comments div#a-index div.preview,
div#c-comments div#a-show div.preview {
    text-align: center;
    width: 12rem;
    margin-right: unset;
}
div#c-comments div#a-index div.comments-for-post,
div#c-comments div#a-index div.comments-for-post div.list-of-comments article.comment,
div.comments-for-post div.list-of-comments article.comment div.content {
    width: 100%;
}
div#c-comments div#a-index div.post,
div#c-comments div#a-show div.post {
    box-shadow: unset;
}

div#c-comments div#a-index div.post article.comment img {       // Bugfix: user avatars shouldn't recieve the parent post's status borders
    border: unset;
}

@include media-breakpoint-upto("tablet") {
    div#c-blips article.blip,
    div.comments-for-post div.list-of-comments article.comment,
    div#c-comments div#a-index div#p-index-by-post div.post-preview {
        flex-flow: row wrap;
    }
    div#c-blips article.blip div.author,
    div.comments-for-post div.list-of-comments article.comment div.author {
        flex-basis: 100%;
        display: flex;
        flex-shrink: inherit;
        padding: 0;
    }
    div#c-blips article.blip .author .post-thumbnail a img,
    div.comments-for-post div.list-of-comments article.comment .author .post-thumbnail a img,
    div#c-comments div#a-index div.preview a img {
        max-height: 5rem;
        width: auto;
    }
    div#c-blips article.blip .author .author-info,
    div.comments-for-post div.list-of-comments article.comment .author .author-info {
        padding-left: 1rem;
    }
    div#c-blips article.blip .author .author-info h1,
    div.comments-for-post div.list-of-comments article.comment .author .author-info h1 {
        margin-top: 1rem;
    }

    div#c-blips article.blip { display: flex; }
    div#c-blips article.blip div.author,                        // TODO BUG Why aren't div.author and div.content not inside div.author-info like the comments
    div#c-blips article.blip div.content {                      // Just FML, why is everything in this theme so inconsistent
        margin: unset;
    }
}

/* --- Comment / Post Features --- */
.styled-dtext blockquote,                                       // Re-style the quotes and collapsable blocks
.styled-dtext div.expandable,
.styled-dtext pre {
    position: relative;
    z-index: 10;
    box-shadow: none;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem;
    @include themable($data_map: $theme_look_index) { border-radius: themed("border-radius-half"); }
    @include themable {
        border: 1px solid themed("color-section");
        border-left: 0.25rem solid themed("color-danger");
        background: rgba( lighten( themed("color-section"), 10%), 0.7);
    }
}

div#c-posts div#a-show #artist-commentary {
    position: relative;
    z-index: 10;
    box-shadow: none;
    border: none;
    @include themable($data_map: $theme_look_index) { border-radius: themed("border-radius-half"); }
    @include themable {
        border-left: 0.25rem solid themed("color-danger");
        background: rgba( lighten( themed("color-section"), 10%), 0.7);
    }
}

blockquote p:last-child { margin-bottom: unset; }
.styled-dtext div.expandable { padding: unset; }
.styled-dtext div.expandable div.expandable-header {
    padding: 0.5rem 1rem;
}
.styled-dtext div.expandable div.expandable-content {
    padding: 0 1rem 1rem;
}

.styled-dtext blockquote::after,
.styled-dtext div.expandable::after,
.styled-dtext pre::after {
    content: "";
    position: absolute;
    z-index: -1;

    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    opacity: 0.4;

    @include themable {
        color: themed("color-section");
    }
}

.styled-dtext blockquote {
    @include themable { border-left-color: themed("color-detail-quote"); }
}
.styled-dtext blockquote::after {
    content: "\f10e"; // fa-quote-right
    font-size: 2rem;
    top: 0.5rem;
    right: 1rem;
}

.styled-dtext div.expandable {
    @include themable {  border-left-color: themed("color-detail-expandable"); }
}
.styled-dtext div.expandable::after {
    content: "\f103";
    font-size: 2.5rem;
    top: 0.55rem;
    right: 1rem;
}

.styled-dtext pre {
    @include themable { border-left-color: themed("color-detail-code"); }
}
.styled-dtext pre::after {
    content: "\f121";
    font-size: 1.75rem;
    top: 0.5rem;
    right: 1rem;
}

div#c-posts div#a-show #artist-commentary {
    @include themable { border-color: themed("color-detail-quote"); }
    padding: unset;
}
