/* === COMMENTS INDEX === */
div#c-comments div#a-index div.post,
div#c-comments div#a-show div.post {                            /* Straighten out and align comments in the list */
    margin-bottom: 1em;
    background-color: var(--color-foreground);
}
div#c-comments div#a-index div.preview,
div#c-comments div#a-show div.preview {
    text-align: center;
    width: 200px;
    display: table;
    margin-right: unset;
}
div#c-comments div#a-index div.comments-for-post { width: 100%; }
div#c-comments div#a-index div.comments-for-post div.list-of-comments article.comment {
    width: 100%;
}
div#c-comments div#a-index div.post,
div#c-comments div#a-show div.post {
    box-shadow: unset;
}

div#c-comments div#a-index div.post article.comment img {       /* Bugfix: user avatars shouldn't recieve the parent post's status borders */
    border: 0px;
}

@media screen and (max-width: 801px) {                          /* Fixes for mobile, by JAKXXX3 */
    div#c-comments div#a-index div#p-index-by-post div.post-preview {
        flex-flow: row wrap;
    }

    div#c-comments div#a-index div.preview a img {
        max-height: 75px;
        width: auto;
    }
}
