/* === FORUMS === */
.c-forum-topics article.forum-post,
#c-forum-posts article.forum-post { padding: 1rem; }

div.list-of-forum-posts article {                               // Re-color the forum posts to look like normal comments
    @include themable {
        background: themed("color-section");
    }
    box-shadow: none;
}
#topic-response .text label { display: none; }                  // No need to label the forum post textbox
#forum_post_body { width: 100%; box-shadow: none; }             // Streamline the textbox

div.list-of-forum-posts article:nth-child(2n) {                 // Get rid of the striping on the forum posts as well
    @include themable {
        background-color: themed("color-section");
    }
}
div.list-of-forum-posts article[data-is-deleted="true"] {           // Restore the highlight on the deleted posts
    position: relative;
    z-index: 5;
}
div.list-of-forum-posts article[data-is-deleted="true"] > div {       // Restore the highlight on the deleted posts
    position: relative;
    z-index: 10;
}
div.list-of-forum-posts article[data-is-deleted="true"]::after {       // Restore the highlight on the deleted posts
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;

    @include themable {
        background: rgba( themed("color-danger"), 0.2);
    }
}

div.list-of-forum-posts article div.content {                   // Get rid of unnecessary padding on the forum posts
    padding: unset;
}
textarea#forum_post_body { max-width: unset; }                  // No reason to limit this
