/* === POPULAR PAGE === */
div#c-explore-posts div#a-popular {                                 // TODO HACK This whole section is horrible
    display: flex;                                                  // Put the posts on the popular page inside div#posts-container
    flex-wrap: wrap;                                                // Then the behavior should match the search page
    align-items: flex-end;
}
div#c-explore-posts div#a-popular h1,
div#c-explore-posts div#a-popular #popular-nav-links,
div#c-explore-posts div#a-popular section#blacklist-box {
    flex-basis: 100%;
}

@media screen and (max-width: 800px) {
    body.resp div#page div#c-explore-posts div#a-popular {
        flex-flow: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    body.resp div#page div#c-explore-posts div#a-popular article.post-preview img {     // TODO BUG Why doesn't the popular page load cropped thumbnails?
        height: auto;
        max-height: none;
        max-width: none;
        width: 32vw;
    }
}
