/* Post History Page Layout */
div#page div#c-post-versions div#a-index {

    .post-version {
        box-shadow: none;
        @include themable {
            border: 1px solid themed("color-foreground");
            background: themed("color-section");
        }

        .pv-check {
            box-shadow: none;
            border-bottom: 0;
            @include themable {
                border-color: themed("color-foreground");
                background: lighten( themed("color-section"), 5%);
            }
        }

        .pv-post-label,                                     // TODO HACK The header is important for clarity, but repeating it with every single entry makes the page way too busy
        .pv-date-label,                                     //           Put the header above all the posts, then stick a display: sticky on it
        .pv-reason-label,
        .pv-description-label,
        .pv-tags-locked-label,
        .pv-spacer,
        .pv-tags-label,
        .pv-sources-label {
            display: none;
        }

        .pv-content:empty {                                 // TODO BUG this _would_ work if the empty containers would actually be empty.
            padding: 0;                                     //          Instead, they are filled with spaces.
        }

        .pv-post,
        .pv-date,
        .pv-reason,
        .pv-description,
        .pv-tags-locked,
        .pv-actions {
            @include themable {
                background: lighten( themed("color-section"), 5%);
            }
        }

        .pv-tags,
        .pv-sources {
            @include themable {
                border-top: 1px solid themed("color-foreground");
            }
        }

        /* Theme Up the Colors */
        .diff-list ins,
        .diff-list ins a,
        .diff-list ins a:link,
        .diff-list ins a:visited {
            @include themable {
                color: lighten( themed("color-success"), 10%);
            }
        }
        .diff-list ins a:hover {
            @include themable {
                color: lighten( themed("color-success"), 15%);
            }
        }
        .diff-list del,
        .diff-list del a,
        .diff-list del a:link,
        .diff-list del a:visited {
            @include themable {
                color: lighten( themed("color-danger"), 5%);
            }
        }
        .diff-list del a:hover {
            @include themable {
                color: lighten( themed("color-danger"), 15%);
            }
        }

        /* Mobile Support */
        .pv-check       { grid-area: 1 / 1 / 8 / 2; }

        .pv-post        { grid-area: 2 / 2 / 2 / 3;  }
        .pv-date        { grid-area: 2 / 3 / 2 / 10; }
        .pv-actions     { grid-area: 2 / 10 / 5 / 14;  }

        .pv-reason      { grid-area: 3 / 2 / 3 / 14; }
        .pv-description { grid-area: 4 / 2 / 4 / 14; }
        .pv-tags-locked { grid-area: 5 / 2 / 5 / 14; }

        .pv-tags        { grid-area: 6 / 2 / 6 / 14; }
        .pv-sources     { grid-area: 7 / 2 / 7 / 14; }

        @include media-breakpoint("tablet") {
            .pv-check       { grid-area: 1 / 1 / 5 / 2; }

            .pv-post        { grid-area: 2 / 2 / 2 / 3;  }
            .pv-date        { grid-area: 2 / 3 / 2 / 5; }
            .pv-reason      { grid-area: 2 / 5 / 2 / 7; }
            .pv-description { grid-area: 2 / 7 / 2 / 9; }
            .pv-tags-locked { grid-area: 2 / 9 / 2 / 13; }
            .pv-actions     { grid-area: 2 / 13 / 2 / 14;  }

            .pv-tags        { grid-area: 4 / 2 / 4 / 10; }
            .pv-sources     { grid-area: 4 / 10 / 4 / 14; }
        }
    }
}
