/* === MAIN PAGE LAYOUT === */
div#page div#c-posts div#a-index,
div#page div#c-favorites div#a-index,
div#page div#c-posts div#a-show {

    display: grid;
    grid-template-columns: auto;

    @include media-breakpoint("tablet") {
        display: grid;
        grid-template-columns: 14rem minmax(0, 1fr);
        grid-column-gap: 1rem;
    }


    /* === SIDEBAR === */
    aside#sidebar {
        width: unset;
        float: unset;

        // Search, Mode, Blacklist, etc. Headers
        h1 {
            margin-bottom: 0.25rem;
            span.search-help,
            span.blacklist-help {
                float: right;
                font-size: 70%;
            }
        }

        // Desktop Searchbar
        section#search-box {
            display: none;

            @include media-breakpoint(tablet) {
                display: block;
                margin-bottom: 1rem;
            }

            form {
                display: grid;
                grid-template-columns: auto auto;
            }
            form input[type=text] {
                position: unset;
                padding: 0.125rem 0.125rem;
                border-right: 0;
                border-radius: $border-radius-half 0 0 $border-radius-half;
            }
            button[type=submit] {
                border-left: 1px solid #ccc;
                border-radius: 0 $border-radius-half $border-radius-half 0;
            }
        }

        // Mode Selector
        section#mode-box {
            margin-bottom: 1rem;

            select#mode-box-mode {
                width: 100%;
                border-radius: $border-radius-half;
            }
        }

        // Blacklist Filters
        section#blacklist-box {
            a#disable-all-blacklists,
            a#re-enable-all-blacklists {
                display: inline-block;
                font-size: 0.75rem;
                margin-top: 0.5rem;
                border: 0;
            }
            a#disable-all-blacklists::before,
            a#re-enable-all-blacklists::before,
            a.blacklist-toggle-link::before {
                content: "» ";
            }

            ul#blacklist-list li {
                list-style-type: none;  // Bugfix: remove extraneous list dots (favorites page only)
            }
        }

        // Tag List
        section#tag-box,
        section#tag-list {
            h2 { font-family: verdana, sans-serif; }
            .post-count {
                @include themable { color: themed("color-text-muted"); }
                font-size: 85%;
                font-weight: 500;
            }
        }
    }


    /* === CONTENT SECTION === */
    section#content {
        overflow: unset;
        margin-left: unset;
        padding-left: unset;

        // Mobile Searchbox
        div.mobile-search {
            margin: 0.5rem 0.5rem 1.5rem;

            a:first-child {
                float: right;
                margin-bottom: 0.5rem;
                font-weight: bold;
            }
            div.search-input > input {
                border-radius: $border-radius-half 0 0 $border-radius-half;
            }
            div.search-button > button {
                border-left: 1px solid #ccc;
                border-radius: 0 $border-radius-half $border-radius-half 0;
            }
        }

        // Posts Container
        div#posts-container {
            width: unset;
            flex-wrap: unset;
            align-items: unset;
            justify-content: unset;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));

            @include media-breakpoint("tablet") {
                grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
                grid-column-gap: 1.5%;
                align-items: self-end;
            }

            // Image Thumbnails
            article.post-preview {
                picture img {
                    border-radius: $border-radius-half $border-radius-half 0 0;
                }

                div.desc {
                    @include themable {
                        background-color: lighten( themed("color-section"), 5%);
                    }
                    font-size: 0.8rem; 
                }
            }

            // "No results" message
            p {
                grid-area: auto / 1 / auto / none;
            }

            // Animation Type Badges
            article.post-preview[data-tags~=flash] > a::before { content: "SWF" }   // TODO BUG This does not get set by default, for some reason
            article.post-preview[data-file-ext=webm]  > a::before,
            article.post-preview[data-tags~=flash] > a::before,
            article.post-preview[data-tags~=animated] > a::before {
                position: absolute;
                left: 0;
                top: 0.5rem;
                z-index: 5;
                
                @include themable {
                    background-color: themed("color-section");
                    border: 1px solid themed("color-text-white");
                    color: themed("color-text");
                }
                
                padding: 0.125rem 0.25rem;
                font-size: 60%;
                font-weight: 700;

                border-radius: $border-radius-half;
            }
        }
    }

}
