/* === UPLOAD PAGE === */
.toggle-button[data-v-deb50420] { margin: 0.25rem 0.5rem 0.25rem 0; }
.toggle-button[data-v-deb50420]:last-child { margin-right: 0; }
textarea[data-v-deb50420] { margin: 0.25rem 0; }
.toggle-button.active[data-v-deb50420] {
    @include themable { background-color: themed("color-link-active"); }
}
