/* === SEARCH PAGE === */
div#c-posts div#a-index menu#post-sections { display: none; }   /* Hide "posts" header in search page (useless?) */

article picture img {
    border-radius: 4px 4px 0 0;
    max-height: 10rem;
    max-width: 10rem;
}
div#page aside#sidebar h1 { margin-bottom: 0.25rem; }           /* Minor padding fix for the tag and blacklist */

#mode-box-mode {                                                /* Make the mode box match size with the search bar */
    width: 15em;
    border-radius: 4px;
    box-shadow: none;
}

div.post-score { font-size: 0.8rem; }                           /* Increase the font size on post preview details */

article.post-preview div.desc {
    @include themable {
        background-color: lighten( themed("color-section"), 5%);
    }
}

@include media-breakpoint(tablet) {
    div#posts div#posts-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-column-gap: 1.5%;
        align-items: self-end;
    }

    article.post-preview {                                      /* Space out the thumbnails a bit more */
        margin: 0.5rem;
        max-width: max-content;
    }
    article.post-preview div.desc {
        width: inherit;
        margin: 0 auto;
    }
}

/* Animation Type Badges */
article.post-preview[data-tags~="animated"]::before { content: "anim"; }
article.post-preview[data-tags~="mp4"]::before { content: "mp4"; }
article.post-preview[data-tags~="flash"]::before { content: "swf"; }
article.post-preview[data-tags~="webm"]::before { content: "webm"; }

article.post-preview[data-tags~="animated"]::before,            // This is a horrible, hacky way of doing it.
article.post-preview[data-tags~="mp4"]::before,
article.post-preview[data-tags~="flash"]::before,
article.post-preview[data-tags~="webm"]::before {
    position: absolute;
    left: 0;
    z-index: 10;
    
    @include themable {
        background-color: themed("color-section");
        border: 1px solid themed("color-text-white");
    }
    width: unset;
    height: unset;
    padding: 0.125rem 0.25rem;
    margin: 0.25rem 0;
    border-radius: 5px;
    font-size: 0.6em;
    font-weight: 700;
}
