/* === IMAGE PAGE === */
/* Search / Pool / Set Navigation */
#pool-nav .first, #pool-nav .last {                             // TODO HACK Not sure if the links to go to the first and last pages of the pool are even necessary
    display: none;                                              // But they sure make mobile navigation harder
}

div#c-posts div#nav-links {                                     // TODO HACK If the nav-links and the image were in the same container
    background: transparent;                                    // It wold be possible to have the nav-links be the same size as the image
    border: unset;                                              // The way it is now, doing so would also squish the comment section
    padding: unset;
    margin: unset;
}

div#c-posts div#a-show #pool-nav li,
div#c-posts div#a-show #search-seq-nav li,
div#c-posts div#a-show #set-nav li {
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 0.5rem;

    @include themable {
        background: themed("color-section");
    }
}
div#c-posts div#a-show #pool-nav li:last-child,
div#c-posts div#a-show #search-seq-nav li:last-child,
div#c-posts div#a-show #set-nav li:last-child {
    margin-bottom: unset;
}

div#c-posts div#a-show #pool-nav li .prev,
div#c-posts div#a-show #search-seq-nav li .prev,
div#c-posts div#a-show #set-nav li .prev {
    position: unset;
    left: unset;
    top: unset;
}

div#c-posts div#a-show #pool-nav li .next,
div#c-posts div#a-show #search-seq-nav li .next,
div#c-posts div#a-show #set-nav li .next {
    position: unset;
    left: unset;
    top: unset;
}

div#c-posts div#a-show .pool-name,
div#c-posts div#a-show .search-name {
    padding: 0 1rem;
}

/* Information Section */
div#c-posts .source-link:hover a {
    @include themable {
        background: themed("color-background");
    }
}

/* Sidebar Favorites Button */
a#add-to-favorites,                                             // Recolor the sidebar favorites button to what it was before
a#remove-from-favorites {                                       // TODO Just remove this one, the favorite button under the image should be enough
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-size: 1rem;
    @include themable {
        color: themed("color-text-white");
    }
}
section#post-options ul li:nth-child(1),                        // TODO HACK Best way to add margins to the fav/unfav buttons in the sidebar
section#post-options ul li:nth-child(2) {                       // Just add classes / IDs to them. This is ridiculous.
    margin: 0.5rem 0;
}
#post-options a#add-to-favorites,
#post-options a#add-to-favorites:link,
#post-options a#add-to-favorites:visited        { @include themable { background: themed("color-success"); } }
#post-options a#add-to-favorites:hover          { @include themable { background: darken( themed("color-success"), 5%); } }
#post-options a#add-to-favorites:before         { content: "+ "; }

#post-options a#remove-from-favorites,
#post-options a#remove-from-favorites:link,
#post-options a#remove-from-favorites:visited   { @include themable { background: themed("color-danger"); } }
#post-options a#remove-from-favorites:hover     { @include themable { background: darken( themed("color-danger"), 5%); } }
#post-options a#remove-from-favorites:before    { content: "- "; }

/* +Favorites Button */
div#c-posts .fav-buttons button.ui-button {                     // Replace the weird white +FAV button with an old style one
    border: 0;
    @include themable {
        color: themed("color-text-white");
    }
    box-shadow: none;
    padding: 0.25rem 0.5rem;
    font-size: 0em;
}
div.fav-buttons button#add-fav-button           { @include themable { background: themed("color-success"); } }
div.fav-buttons button#add-fav-button:hover     { @include themable { background: darken( themed("color-success"), 5%); } }
div.fav-buttons button#add-fav-button::after    { content: "+ Favorite"; font-size: 1rem; }       // TODO HACK replace the original instead

div.fav-buttons button#remove-fav-button        { @include themable { background: themed("color-danger"); } }
div.fav-buttons button#remove-fav-button:hover  { @include themable { background: darken( themed("color-danger"), 5%); } }
div.fav-buttons button#remove-fav-button::after { content: "- Unfavorite"; font-size: 1rem; }     // TODO HACK replace the original instead

/* Download Button */
div#image-download-link a {                                     // Recolor the download button to match the Favorite one
    @include themable {
        background: themed("color-warning");
        color: themed("color-text-white");
    }
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border: 0;
    border-radius: 3px;
}
div#image-download-link a:hover {
    @include themable { background: darken( themed("color-warning"), 5%); }
}

/* Comments Style */
section#comments {                                                     // Cleaner, sleaker comment section
    padding: unset;
    background: unset;
    box-shadow: unset;
}
#comments h2:first-of-type { display: none; }                   // TODO HACK This reminder should go somewhere near the new comment box instead
div.comments-for-post div.list-of-comments article.comment {
    box-shadow: none;
}
#new_comment .text label { display: none; }                     // No need to label the comment textbox
#comment_body_for_ { width: 100%; box-shadow: none; }           // Streamline the comment textbox

/* Editing Form */
section#edit {                                                  // Strip shadows and padding from the editing form
    margin: unset;
    padding: 0.5rem;
    box-shadow: unset;
}
section#edit form.simple_form {
    margin: unset;
    padding: unset;
}
section#edit div.input:last-child {                             // TODO HACK The button container needs a class / ID
    position: -webkit-sticky;                                   // Make the "Save Changes" button scroll with the page
    position: sticky;
    bottom: 0;
    
    @include themable {
        background: themed("color-section");
    }
    border-radius: 4px 4px 0 0;
    width: min-content;
    padding: 1rem;
    margin: 0;
}
