/* === SEARCH PAGE === */
div#c-posts div#a-index menu#post-sections { display: none; }   /* Hide "posts" header in search page (useless?) */

article picture img {
    border-radius: 4px 4px 0 0;
    max-height: 10rem;
    max-width: 10rem;
}
div#page aside#sidebar h1 { margin-bottom: 0.25rem; }           /* Minor padding fix for the tag and blacklist */

#mode-box-mode {                                                /* Make the mode box match size with the search bar */
    width: 15em;
    border-radius: 4px;
    box-shadow: none;
}

div.post-score { font-size: 0.8rem; }                           /* Increase the font size on post preview details */

article.post-preview div.desc {
    @include themable {
        background-color: lighten( themed("color-section"), 5%);
    }
}

@include media-breakpoint(tablet) {
    div#posts div#posts-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-column-gap: 1.5%;
        align-items: self-end;
    }

    article.post-preview {                                      /* Space out the thumbnails a bit more */
        margin: 0.5rem;
        max-width: max-content;
    }
    article.post-preview div.desc {
        width: inherit;
        margin: 0 auto;
    }
}

/* Animation Type Badges */
article.post-preview[data-tags~=flash] > a::before {
    content: "SWF"
}
article.post-preview[data-file-ext=webm]  > a::before,
article.post-preview[data-tags~=flash] > a::before,
article.post-preview[data-tags~=animated] > a::before {
    position: absolute;
    left: 0;
    top: 0.5rem;
    z-index: 5;
    
    @include themable {
        background-color: themed("color-section");
        border: 1px solid themed("color-text-white");
        color: themed("color-text");
    }
    
    padding: 0.125rem 0.25rem;
    border-radius: 5px;
    font-size: 60%;
    font-weight: 700;
}
