/* === PROFILE PAGE === */
/* Shadow below user-name in profile's page, because why not */
body.c-users.a-show div.profile-stats > h1 {
    margin: 0.25em 0.5em;
}
body.c-users.a-show div.profile-stats > h1 > a {
    background: var(--color-background-muted);
    padding: 3px 20px;
    border-radius: 20px;
}
/* Padding for top part (table) of profile's page */
body.c-users.a-show div#c-users div#a-show div.profile-container {
    padding: 0 0 1em;
}
/* Profile statistics - get rid of striping, add background for clarity */
div.profile-stats {
    background: var(--color-foreground);
    padding: 10px;
    border-radius: 4px;
}
table.user-statistics tr:nth-child(2n) { background-color: unset; }
table.user-statistics tbody tr { border-bottom: 0; }
table.user-statistics tbody tr:hover { background-color: unset; }

div#c-users div#a-show table.user-statistics th { width: 1%; white-space: nowrap; }
div#c-users div#a-show table.user-statistics td { width: auto; }

/* User rating in profile's page (and everywhere) with bold fonts like before */ 
.user-feedback-positive,
.user-feedback-neutral,
.user-feedback-negative {
    font-weight: 700;
}

/* Title of 'Favorites' and 'Uploads' boxes with a 'button' like format + alignments */
body.c-users.a-show div#c-users div#a-show div.box h2, div#c-users div#a-show div.box h3 {
    border-bottom: 4px solid var(--color-primary);
    padding: 0 0 2px;
    margin: 0 0 5px;
    text-align: center;
    background: var(--color-foreground);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/* Removes bottom spaces and adds some between aforementioned boxes */
body.c-users.a-show div#c-users div#a-show div.box {
    margin-bottom: unset;
    margin: 0 5px;
}

/* Adjust the "About user" and "Artist Information" boxes */
div#c-users div#a-show .about-section .about-piece {
    margin: unset;
    background-color: var(--color-foreground);
    margin-left: 1em;
    box-shadow: unset;
    padding: 0.5rem;
}
