/* === PROFILE PAGE === */
/* Shadow below user-name in profile's page, because why not */
div.profile-stats > h1 {
    margin: 0.25em 0.5em;
}
div.profile-stats > h1 > a {
    @include themable { background: themed("color-foreground"); }
    padding: 0.25rem 1.5rem;
    border-radius: 1.5rem;
}
/* Padding for top part (table) of profile's page */
div#c-users div#a-show div.profile-container {
    padding: 0 0 1em;
}
div#c-users div#a-show > div.profile-container:last-child {
    flex-flow: wrap;
}
/* Profile statistics - get rid of striping, add background for clarity */
div.profile-stats {
    padding: 0.5rem;
    @include themable {
        background: rgba( themed("color-section"), 0.8);
    }
    @include themable($theme_look_index) {
        border-radius: themed("border-radius-half");
    }
}
div#c-users div#a-show table.user-statistics tbody tr {                     // TODO The whole table should be converted into a grid
    border-bottom: 0;                                                       // Would have better mobile support, too
    height: unset;
    background-color: unset;
}
div#c-users div#a-show table.user-statistics tbody tr:hover {
    background-color: unset;
}
div#c-users div#a-show table.user-statistics tbody th {
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
}
div#c-users div#a-show table.user-statistics tbody th,
div#c-users div#a-show table.user-statistics tbody td {
    width: auto;
    padding: 0.25rem 0.5rem;
}

/* User rating in profile's page (and everywhere) with bold fonts like before */ 
.user-feedback-positive,
.user-feedback-neutral,
.user-feedback-negative {
    font-weight: 700;
}

/* Re-position the favorites section */
div#c-users div#a-show div.box.user-favorites,                      // TODO HACK The following section is kinda terrible
div#c-users div#a-show div.box.user-uploads {                       // Would be easier to re-make it with HTML instead of this nonsense
    display: inline-block;
    position: relative;
    flex: 0 0 100%;
    height: 12rem;
    min-width: 2rem;
    @include themable {
        background: themed("color-section");
    }
    margin-bottom: 1em;
    @include themable($theme_look_index) {
        border-radius: themed("border-radius-half");
    }
}
div#c-users div#a-show div.box.user-favorites h2,                   // Links to Favorites and Uploads, to the side
div#c-users div#a-show div.box.user-uploads h2 {
    @include themable {
        border-bottom: 0.25rem solid themed("color-foreground");
        background: themed("color-section");
    }

    position: absolute;
    bottom: -2.5rem;   // height + border + bottom padding
    transform: rotate(270deg);
    transform-origin: top left;
    width: 12rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0 0.25rem;
    text-align: center;
    overflow: hidden;
    @include themable($theme_look_index) {
        border-radius: themed("border-radius-half");
    }
}
div#c-users div#a-show div.box.user-favorites div.vertical-section,
div#c-users div#a-show div.box.user-uploads div.vertical-section {
    height: 12rem;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0 0 0 2rem;
}
div#c-users div#a-show div.box.user-favorites h4,                   // "Favorites hidden" text
div#c-users div#a-show div.box.user-uploads h4 {                    // TODO BUG If privacy mode is enabled, both this message and actual favorites are shown on your profile
    text-align: center;
}

/* Adjust the "About user" and "Artist Information" boxes */
div#c-users div#a-show .about-section .about-piece {
    @include themable { background: themed("color-section"); }
    margin: unset;
    margin-left: 1em;
    box-shadow: unset;
    padding: 0.5rem;
}
div#c-users div#a-show .about-section .about-piece:first-child {
    margin-left: unset;
}

/* User Feedback */
div#c-moderator-dashboards div#col2 .feedback-category-positive,
div#c-user-feedbacks .feedback-category-positive {
    @include themable {
        background: darken( themed("color-success"), 5%) !important;    // TODO Get rid of !important on the original style. No reason to have it.
    }
}

div#c-moderator-dashboards div#col2 .feedback-category-negative,
div#c-user-feedbacks .feedback-category-negative {
    @include themable {
        background: darken( themed("color-danger"), 5%) !important;
    }
}