/* === SETTINGS === */
div#c-users div#a-edit h2#edit-options .active {                // Give contrast to the active tabs
    @include themable { color: themed("color-link-active"); }
}
fieldset{ min-width: 0 ;}                                       // Keep the inputs from extending off the screen
form select, form input{ font-size: inherit; }                  // Dont bump font on mobile

body.resp form.simple_form div.input input[type="email"], 
body.resp form.simple_form div.input input[type="number"], 
body.resp form.simple_form div.input input[type="password"], 
body.resp form.simple_form div.input input[type="text"], 
body.resp form.simple_form div.input textarea {                 // Keep the inputs from extending off the screen
    width: 100%;
}

div#c-users div#a-edit div.input { margin-bottom: 1em; }        // Settings: less padding, color consistency like the other pages
div#c-users div#a-edit h1 { margin: unset; }
div#c-users div#a-edit h2 { margin-bottom: .5em; }

#user_custom_styl,                                              // Makes editing blacklist and custom CSS more convenient
#user_blacklisted_tags { height: 25rem; }                       // Default textbox is way too short

.simple_form {                                                  // This sets the color for all other setting pages (eg: Change Password, Delete account, API etc)
    padding: 0.5em;
    background: unset;
}
