// === Non-Themed Colors

// Tag Categories
$color-tag-general:            #b4c7d9;
$color-tag-general-alt:        #2e76b4;

$color-tag-artist:             #f2ac08;
$color-tag-artist-alt:         #fbd67f;

$color-tag-copyright:          #d0d;
$color-tag-copyright-alt:      #ff5eff;

$color-tag-character:          #0a0;
$color-tag-character-alt:      #2bff2b;

$color-tag-species:            #ed5d1f;
$color-tag-species-alt:        #f6b295;

$color-tag-lore:               #282;
$color-tag-lore-alt:           #5fdb5f;

$color-tag-pool:               wheat;
$color-tag-pool-alt:           #d0b27a;

// User Groups
$color-user-member:            #b4c7d9;
$color-user-member-alt:        #2e76b4;
$color-user-privileged:        #b4c7d9;
$color-user-privileged-alt:    #2e76b4;
$color-user-contributor:       #b4c7d9;
$color-user-contributor-alt:   #2e76b4;

$color-user-blocked:           #b4c7d9;
$color-user-blocked-alt:       #2e76b4;

$color-user-former-staff:      #78dca5;
$color-user-former-staff-alt:  #4da073;
$color-user-janitor:           #d82828;
$color-user-janitor-alt:       #cc5151;
$color-user-admin:             #e69500;
$color-user-admin-alt:         #9d6703;
