// Responsive Breakpoint Values
$media-breakpoint-mobile:       485px;
$media-breakpoint-tablet:       800px;
$media-breakpoint-laptop:       1000px;
$media-breakpoint-desktop:      1200px;
$media-breakpoint-desktop-lg:   1400px;
