/* === Common Styles === */

/* --- Layout --- */
body {
    @include themable($apply_to_self: true) {
        color: themed("color-text");
        background-color: themed("color-background");
        background-image: themed("image-background");
    }

    font-family: Verdana, sans-serif;
    font-size: 85%;

    margin: 0 auto;
}

@include resp-body-width;

div#page {
    @include themable() {
        background-color: themed("color-foreground");
    }
    @include themable($data_map: $extras_index) {
        background-image: themed("image-foreground");
        background-position: themed("image-foreground-position");
        background-repeat: themed("image-foreground-repeat");
    }
    border-radius: 6px;
}

footer#page-footer {
    @include themable {
        background-color: themed("color-foreground");
    }
    margin: 1em;
    margin-bottom: 0;
    width: unset;
    border-radius: 6px 6px 0 0;
}

button, input, select, textarea { box-shadow: unset; }          // Get rid of shadows on inputs

/* --- Links --- */
a,
a:link,
a:visited {
    @include themable {
        color: themed('color-link');
    }
    text-decoration: none;
}
a:active {
    @include themable {
        color: themed('color-link-active');
    }
}
a:hover {
    @include themable {
        color: themed('color-link-hover');
    }
}

/* --- Common Elements --- */
.score-negative,                                                // Scores and rating are bold everywhere now
.score-neutral,                                                 // Except if they don't have the class associated (like 'rating' in posts and comments pages)
.score-positive,
.post-score-rating {
    font-weight: 700;
}

.score-positive a,
.score-positive a:link,
.score-positive a:visited   { @include themable { color: themed("color-success"); } }
.score-positive a:hover     { @include themable { color: darken( themed("color-success"), 10%); } }

.score-neutral a,
.score-neutral a:link,
.score-neutral a:visited   { @include themable { color: themed("color-text-muted"); } }
.score-neutral a:hover     { @include themable { color: darken( themed("color-text-muted"), 10%); } }

.score-negative a,
.score-negative a:link,
.score-negative a:visited   { @include themable { color: themed("color-danger"); } }
.score-negative a:hover     { @include themable { color: darken( themed("color-danger"), 10%); } }

.box-section {
    box-shadow: unset;
    @include themable {
        background-color: themed("color-section");
    }
}

/* --- Tables --- */
table.striped {
    width: 100%;
}
table.striped thead tr {
    @include themable {
        background-color: darken( themed("color-section"), 5%);
        border-bottom: 1px solid themed("color-foreground");
    }
}
table.striped tbody tr {                        // Stripes are out, padding is in!
    @include themable {
        background-color: themed("color-section");
        border-bottom: 1px solid themed("color-foreground");
    }
}
table.striped tbody tr:hover {
    @include themable {
        background-color: lighten( themed("color-section"), 10%);
    }
}
table.striped tbody tr td {
    padding: 0.5rem 0.25rem;
}

td a.last-page,
td a.last-page:link,
td a.last-page:visited {
    @include themable { color: themed("color-text-muted"); }
}
td a.last-page:hover {
    @include themable { color: themed("color-link-hover"); }
}

/* === NOTICES === */
div#page div.site-notice {
    @include themable {
        background-color: themed("color-section");
    }
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.25rem !important;
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.2);
}
