/* === SIDEBAR === */
span.search-help a { font-size: 0; }                            // Make the help links (quite) a bit smaller
span.search-help a::after {                                     // TODO HACK replace the original instead
    content: "search help";
    font-size: 0.7rem;
    float: right;
    margin-top: 10px;
}

/* Desktop Searchbox */
div#page aside#sidebar input[type=text] {                       // Re-style the search bar
    width: 13em;                                                // Spite-filled redesigning initiated
    padding: 0.125rem 0.125rem;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    box-sizing: border-box;
}
div#page aside#sidebar #search-box button[type=submit] {
    width: 2em;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #ccc;
}

/* Desktop - Mobile Searchbox Switching */
#search-box { display: none; }
@media only screen and (min-width: 801px) {
    #search-box { display: block; }
}

/* Tag List */
div#c-posts aside#sidebar #tag-list h2 {                        // Tags list - smootherer and bolder fonts
    font-family: verdana, sans-serif;
}
.post-count {                                                   // De-emphasize the post count, courtesy of Zermelane
    @include themable { color: themed("color-text-muted"); }
    font-size: 85%;
    font-weight: 500;
}

/* Mobile Searchbox */
.mobile-search {                                                // Streamline the mobile search form
    margin: 0.5rem 0.5rem 1.5rem;
}
.mobile-search a:first-child {                                  // Screw you, I'll re-style the mobile searchform too
    float: right;                                               // Multi-device styling! https://i.imgur.com/Ong1enY.png
    margin-bottom: 0.5rem;
}
body.resp .mobile-search>.search-form>form .search-input input {
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}
body.resp .mobile-search>.search-form>form .search-button>button {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #ccc;
}
