/* --- Tag Categories --- */
[class^="category-"]    { font-weight: 700; }
.category-0 a           { font-weight: 500; }

/* General */
.category-0 a,
.category-0 a:link,
.category-0 a:visited   { color: $color-tag-general; }
.category-0 a:hover     { color: $color-tag-general-alt; }

/* Artist */
.category-1 a,
.category-1 a:link,
.category-1 a:visited   { color: $color-tag-artist; }
.category-1 a:hover     { color: $color-tag-artist-alt; }

/* Copyright */
.category-3 a,
.category-3 a:link,
.category-3 a:visited   { color: $color-tag-copyright; }
.category-3 a:hover     { color: $color-tag-copyright-alt; }

/* Character */
.category-4 a,
.category-4 a:link,
.category-4 a:visited   { color: $color-tag-character; }
.category-4 a:hover     { color: $color-tag-character-alt; }

/* Species */
.category-5 a,
.category-5 a:link,
.category-5 a:visited   { color: $color-tag-species; }
.category-5 a:hover     { color: $color-tag-species-alt; }

/* Lore */
.category-8 a,
.category-8 a:link,
.category-8 a:visited   { color: $color-tag-lore; }
.category-8 a:hover     { color: $color-tag-lore-alt; }

/* Pool */
.pool-category-series a,
.pool-category-series a:link,
.pool-category-series a:visited,
.pool-category-collection a ,
.pool-category-collection a:link,
.pool-category-collection a:visited { color: $color-tag-pool; }
.pool-category-collection a:hover,
.pool-category-series a:hover       { color: $color-tag-pool-alt; }
