/* --- User Page Links, with Group Styles --- */
a.user-member.with-style                { color: $color-user-member; }
a.user-member.with-style:hover          { color: $color-user-member-alt; }
a.user-privileged.with-style            { color: $color-user-privileged; }
a.user-privileged.with-style:hover      { color: $color-user-privileged-alt; }
a.user-contributor.with-style           { color: $color-user-contributor; }
a.user-contributor.with-style:hover     { color: $color-user-contributor-alt; }

a.user-blocked.with-style               { color: $color-user-blocked; text-decoration: line-through; }
a.user-blocked.with-style:hover         { color: $color-user-blocked-alt; }

a.user-former.staff.with-style          { color: $color-user-former-staff; }
a.user-former.staff.with-style:hover    { color: $color-user-former-staff-alt; }
a.user-janitor.with-style               { color: $color-user-janitor; }
a.user-janitor.with-style:hover         { color: $color-user-janitor-alt; }
a.user-admin.with-style                 { color: $color-user-admin; }
a.user-admin.with-style:hover           { color: $color-user-admin-alt; }
