/* --- Comment / Post Features --- */ // TODO Fix the comment features
.styled-dtext blockquote,                                       /* Re-style the quotes and collapsable blocks */
.styled-dtext div.expandable,
.styled-dtext pre,
div#c-posts div#a-show #artist-commentary {
    box-shadow: none;
    border: none;
    border-radius: 3px;
    border-left: 4px solid var(--color-danger);
    background: var(--color-highlight);
}
.styled-dtext blockquote        { border-color: var(--color-primary); }
.styled-dtext div.expandable    { border-color: var(--color-secondary); }
.styled-dtext pre               { border-color: var(--color-tertiary); }
div#c-posts div#a-show #artist-commentary {
    border-color: var(--color-primary);
    padding: unset;
}

.styled-dtext div.expandable div.expandable-header { margin: 0 1rem; }
.styled-dtext div.expandable div.expandable-content { margin: 0 1rem; padding: 0 0 1rem; }