@import 'theme_hexagon';
@import 'theme_pony';
@import 'theme_bloodlust';
@import 'theme_serpent';
@import 'theme_hotdog';

@import 'look_classic';
@import 'look_modern';

@import 'extras_none';
@import 'extras_autumn';
@import 'extras_winter';
@import 'extras_spring';
@import 'extras_aurora';
@import 'extras_hexagons';
@import 'extras_space';
@import 'extras_stars';

$theme_primary_index: (
    "data-attr":    "main",
    "default":      $theme_hexagon,
    "themes": (
//      "hexagon":      $theme_hexagon,
        "pony":         $theme_pony,
        "bloodlust":    $theme_bloodlust,
        "serpent":      $theme_serpent,
        "hotdog":       $theme_hotdog,
    )
);

$theme_look_index: (
    "data-attr":    "look",
    "default":      $look_classic,
    "themes": (
//      "classic":  $look_classic,
        "modern":   $look_modern,
    )
);

$theme_extras_index: (
    "data-attr":    "extra",
    "default":      $extras_hexagons,
    "themes": (
//      "hexagons":     $extras_hexagons,
        "none":         $extras_none,
        "autumn":       $extras_autumn,
        "winter":       $extras_winter,
        "spring":       $extras_spring,
        "aurora":       $extras_aurora,
        "space":        $extras_space,
        "stars":        $extras_stars,
    )
);
