/* === SIDEBAR === */
div#page aside#sidebar h1 span.search-help,
div#page aside#sidebar h1 span.blacklist-help {
    float: right;
    font-size: 70%;
}

/* Desktop Searchbox */
div#page aside#sidebar input[type=text] {                       // Re-style the search bar
    width: 13em;                                                // Spite-filled redesigning initiated
    padding: 0.125rem 0.125rem;
    border-right: 0;
    box-sizing: border-box;
    border-radius: $border-radius-half 0 0 $border-radius-half;
}
div#page aside#sidebar #search-box button[type=submit] {
    width: 2em;
    border-left: 1px solid #ccc;
    border-radius: 0 $border-radius-half $border-radius-half 0;
}

#search-box { display: none; }                                  // Hide the desktop searchbox on mobile
@include media-breakpoint(tablet) {
    #search-box { display: block; }
}

/* Mobile Searchbox */
.mobile-search {                                                // Streamline the mobile search form
    margin: 0.5rem 0.5rem 1.5rem;
}
.mobile-search a:first-child {                                  // Screw you, I'll re-style the mobile searchform too
    float: right;                                               // Multi-device styling! https://i.imgur.com/Ong1enY.png
    margin-bottom: 0.5rem;
}
.mobile-search .search-form form .search-input input {
    box-sizing: border-box;
    border-radius: $border-radius-half 0 0 $border-radius-half;
}
.mobile-search .search-form form .search-button button {
    border-left: 1px solid #ccc;
    border-radius: 0 $border-radius-half $border-radius-half 0;
}

/* Blacklist */
a#disable-all-blacklists,
a#re-enable-all-blacklists {
    display: inline-block;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    border: 0;
}
a#disable-all-blacklists::before,
a#re-enable-all-blacklists::before,
a.blacklist-toggle-link::before { content: "» "; }

#blacklist-box.sidebar-blacklist ul li {                        /* Bugfix: remove extraneous list dots (favorites page only) */
    list-style-type: none;
}

/* Tag List */
div#c-posts aside#sidebar #tag-list h2 {                        // Tags list - smootherer and bolder fonts
    font-family: verdana, sans-serif;
}
.post-count {                                                   // De-emphasize the post count, courtesy of Zermelane
    @include themable { color: themed("color-text-muted"); }
    font-size: 85%;
    font-weight: 500;
}
